.parceiros {
    background-size: cover;
    background-position: left;
    background-image: url("./../images/parceiros/background.svg");
    height: 90vh;
    width: 100vw;
}

#cel-image {
    display: none;
}

.parceiros div h6 {
    text-align: center;
    font-size: 2.3rem;
    color: white;
    padding-top: 3rem;
}

.parceiros div {
    display: flex;
    flex-direction: column;
     justify-content: center;
}

#parceiros-content {
    width: 70vw;
    margin-bottom: 5rem;
    height: 60vh;
    background-position: center;
    
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 2rem;
    
  
}

.parceiros-content img {
    border-radius: 25px;
    max-height: 60vh;
    max-width: 70vw;
    object-fit: contain;
    box-shadow: none;
    border: none;
   
} 

@media only screen and (max-width:500px) {
    .parceiros {
        height: auto;
        padding-bottom: 3rem;
    }

    #parceiros-content {
        height: auto;
    }

    #cel-image {
        display: block;
    }

    .parceiros-content #pc-image {
        display: none;
    }

    .parceiros-content img {
        width: 80vw;
        height: auto;
        max-height: fit-content;
    }
    .parceiros div h6 {
        text-align: center;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width:450px) {
    
    
}

@media only screen and (min-width:1440px) {


    .parceiros div h6 {
        text-align: center;
        font-size: 3.3rem;
    }
}

@media only screen and (min-width:1700px) {
    .parceiros-content img {
    
    }
}